In [207]:
import yahoo_fin.stock_info as si
import pandas as pd

In [208]:
# !pip install yahoofinancials

#### Power Sector Stocks

##### Ratio

In [209]:
ls = ['JPPOWER.NS','PFS.NS', 'SUZLON.NS','TATAPOWER.NS']

In [210]:
data = {}
dow_stats = pd.DataFrame()
for ticker in ls:
#     print(ticker)
    temp = si.get_stats_valuation(ticker)
    temp = temp.iloc[:,:2]
#     print(temp)
    temp.columns = ["Attribute", "Recent"]
    
    temp['Ticket'] = ticker
#     dow_stats = dow_stats.append(temp)
# data = pd.concat(dow_stats, axis=1)
    dow_stats = pd.concat([dow_stats, temp], axis=1)

In [211]:
dow_stats.head(9)

,Attribute,Recent,Ticket,Attribute,Recent,Ticket,Attribute,Recent,Ticket,Attribute,Recent,Ticket
0,Market Cap (intraday),63.39B,JPPOWER.NS,Market Cap (intraday),12.52B,PFS.NS,Market Cap (intraday),105.35B,SUZLON.NS,Market Cap (intraday),770.24B,TATAPOWER.NS
1,Enterprise Value,112.25B,JPPOWER.NS,Enterprise Value,80.47B,PFS.NS,Enterprise Value,167.95B,SUZLON.NS,Enterprise Value,1.21T,TATAPOWER.NS
2,Trailing P/E,62.93,JPPOWER.NS,Trailing P/E,19.12,PFS.NS,Trailing P/E,NaN,SUZLON.NS,Trailing P/E,57.26,TATAPOWER.NS
3,Forward P/E,NaN,JPPOWER.NS,Forward P/E,NaN,PFS.NS,Forward P/E,NaN,SUZLON.NS,Forward P/E,NaN,TATAPOWER.NS
4,PEG Ratio (5 yr expected),NaN,JPPOWER.NS,PEG Ratio (5 yr expected),NaN,PFS.NS,PEG Ratio (5 yr expected),NaN,SUZLON.NS,PEG Ratio (5 yr expected),NaN,TATAPOWER.NS
5,Price/Sales (ttm),1.74,JPPOWER.NS,Price/Sales (ttm),1.23,PFS.NS,Price/Sales (ttm),2.32,SUZLON.NS,Price/Sales (ttm),1.89,TATAPOWER.NS
6,Price/Book (mrq),0.62,JPPOWER.NS,Price/Book (mrq),0.56,PFS.NS,Price/Book (mrq),NaN,SUZLON.NS,Price/Book (mrq),3.62,TATAPOWER.NS
7,Enterprise Value/Revenue,3.09,JPPOWER.NS,Enterprise Value/Revenue,7.88,PFS.NS,Enterprise Value/Revenue,3.70,SUZLON.NS,Enterprise Value/Revenue,3.22,TATAPOWER.NS
8,Enterprise Value/EBITDA,8.95,JPPOWER.NS,Enterprise Value/EBITDA,71.91,PFS.NS,Enterprise Value/EBITDA,21.43,SUZLON.NS,Enterprise Value/EBITDA,13.55,TATAPOWER.NS

##### Historic Data

In [212]:
import yfinance as yahooFinance
jppower = yahooFinance.Ticker("JPPOWER.NS")
(jppower.history(period="max")).head(2)

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2005-04-18,29.221446,32.417542,27.988666,28.445251,46198201,0.0,0
2005-04-19,28.445252,29.678032,27.166814,27.303789,26251794,0.0,0

In [213]:
PFS = yahooFinance.Ticker("PFS.NS")
(PFS.history(period="max")).head(2)

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2011-03-30,18.909822,19.086549,16.612367,17.602039,36735852,0.0,0
2011-03-31,17.637384,17.990838,17.283929,17.425310,3261414,0.0,0

In [214]:
SUZLON = yahooFinance.Ticker("SUZLON.NS")
(SUZLON.history(period="max")).head(2)

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2005-10-19,125.933705,137.699345,114.355294,136.546432,152125030,0.0,0.0
2005-10-20,138.152591,139.482882,125.539520,127.490608,39078530,0.0,0.0

In [215]:
TATAPOWER = yahooFinance.Ticker("TATAPOWER.NS")
(TATAPOWER.history(period="max")).head(2)

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
1996-01-01,5.943430,5.985530,5.896378,5.968194,33160,0.0,0.0
1996-01-02,5.968198,6.025156,5.849329,5.893905,176162,0.0,0.0

https://pypi.org/project/yahoofinancials/

##### BalanceSheet

In [216]:
from yahoofinancials import YahooFinancials

yahoo_financials = YahooFinancials(['JPPOWER.NS'])
jppower_balancesheet = yahoo_financials.get_financial_stmts('annual', 'balance')

yahoo_financials = YahooFinancials(['PFS.NS'])
pfs_balancesheet = yahoo_financials.get_financial_stmts('annual', 'balance')

yahoo_financials = YahooFinancials(['SUZLON.NS'])
suzlon_balancesheet = yahoo_financials.get_financial_stmts('annual', 'balance')

yahoo_financials = YahooFinancials(['TATAPOWER.NS'])
tatapwr_balancesheet = yahoo_financials.get_financial_stmts('annual', 'balance')

##### Cash Statement

In [217]:
yahoo_financials = YahooFinancials('TATAPOWER.NS')
tatapwr_cashstmnt = (yahoo_financials.get_financial_stmts('quarterly', 'cash'))

yahoo_financials = YahooFinancials('SUZLON.NS')
suzlon_cashstmnt = (yahoo_financials.get_financial_stmts('quarterly', 'cash'))

yahoo_financials = YahooFinancials('PFS.NS')
pfs_cashstmnt = (yahoo_financials.get_financial_stmts('quarterly', 'cash'))

yahoo_financials = YahooFinancials('JPPOWER.NS')
jppower_cashstmnt = (yahoo_financials.get_financial_stmts('quarterly', 'cash'))

In [218]:
tatapwr_cashstmnt

{'cashflowStatementHistoryQuarterly': {'TATAPOWER.NS': [{'2021-09-30': {'netIncome': 4215100000,
     'changeToLiabilities': 0}},
   {'2021-06-30': {'netIncome': 3910300000, 'changeToLiabilities': 0}},
   {'2021-03-31': {'netIncome': 3929400000, 'changeToLiabilities': 0}},
   {'2020-12-31': {'netIncome': 2482100000, 'changeToLiabilities': 0}}]}}

##### Compilation

In [219]:
tatapower = pd.DataFrame()
# tatapower['Date'] =
import json
json_object = json.dumps(tatapwr_cashstmnt, indent =1) 
print(json_object)

{
 "cashflowStatementHistoryQuarterly": {
  "TATAPOWER.NS": [
   {
    "2021-09-30": {
     "netIncome": 4215100000,
     "changeToLiabilities": 0
    }
   },
   {
    "2021-06-30": {
     "netIncome": 3910300000,
     "changeToLiabilities": 0
    }
   },
   {
    "2021-03-31": {
     "netIncome": 3929400000,
     "changeToLiabilities": 0
    }
   },
   {
    "2020-12-31": {
     "netIncome": 2482100000,
     "changeToLiabilities": 0
    }
   }
  ]
 }
}

In [230]:
import json
import pandas as pd
import requests

def resp_to_packets(resp_text):
    ''' Convert file to list of packets.'''
    packet = ''
    for line in resp_text.split('\n'):
        if line.startswith('}{'):
            packet += '}'
            yield json.loads(packet)
            packet = '{'
        else:
            packet += line + '\n'
    yield json.loads(packet)
    
def packet_to_df(packet):
    ''' Convert packet to data frame.'''
    df = list()
    for key, values in packet.items():
        t = (pd.json_normalize(values)
              .explode('co2')
              .explode('occupancy')
              .explode('temperature')
              .assign(location=key)
             )
        df.append(t)
    return pd.concat(df, ignore_index=True)

dtypes = {'netIncome': float, 'changeToLiabilities': int, 
          '2021-03-31': 'datetime64'}

In [223]:
url = 'https://gist.githubusercontent.com/Fareed99/45b8a39a7e4493243ec973fa73f2b92b/raw/4b2eb95c24c95d40733f06d13dbf0356c4520e99/data.json'
r = requests.get(url)
print(r)

<Response [200]>

In [221]:
resp_to_packets(json_object)

In [231]:
packets = (packet for packet in resp_to_packets(r.text))
dfs     = (packet_to_df(packet) for packet in packets)
df      = pd.concat(dfs, ignore_index=True).astype(dtype=dtypes)

In [232]:
packets = (packet for packet in resp_to_packets(json_object))
dfs     = (packet_to_df(packet) for packet in packets)
# 
dfs

In [233]:
df      = pd.concat(dfs, ignore_index=True).astype(dtype=dtypes)

KeyError: 'co2'

In [182]:
# pd.json_normalize(json_object)
import pandas.io.json as pd_json

data = pd_json.loads(json_object)
data
pd_json.json_normalize(data,"TATAPOWER.NS",[ "cashflowStatementHistoryQuarterly"] )

C:\Users\Aman\AppData\Local\Temp/ipykernel_932/2015154080.py:6: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  pd_json.json_normalize(data,"TATAPOWER.NS",[ "cashflowStatementHistoryQuarterly"] )

KeyError: 'TATAPOWER.NS'

In [206]:
import pandas as pd
from glom import glom
from ast import literal_eval
import re
# re.findall(r'(?<![\-\/])(\d+(?:\.?\d+)) *ML\b', s)

df = pd.DataFrame([str(json_object)], columns=['json_object'])
df['id'] = df['json_object'].apply(lambda row: glom(literal_eval(row), 'cashflowStatementHistoryQuarterly'))
df['order'] = df['id'].apply(lambda row: glom(literal_eval(row), re.findall('TATA')))

ValueError: malformed node or string: {'TATAPOWER.NS': [{'2021-09-30': {'netIncome': 4215100000, 'changeToLiabilities': 0}}, {'2021-06-30': {'netIncome': 3910300000, 'changeToLiabilities': 0}}, {'2021-03-31': {'netIncome': 3929400000, 'changeToLiabilities': 0}}, {'2020-12-31': {'netIncome': 2482100000, 'changeToLiabilities': 0}}]}

In [198]:
df

,json_object,id
0,"{\n ""cashflowStatementHistoryQuarterly"": {\...",{'TATAPOWER.NS': [{'2021-09-30': {'netIncome':...

In [190]:
# !pip install glom

In [191]:

target = {
    "number": "",
    "date": "01.10.2016",
    "name": "R 3932",
    "locations":
        {
            "depTimeDiffMin": "0",
            "name": "Spital am Pyhrn Bahnhof",
            "arrTime": "",
            "depTime": "06:32",
            "platform": "2",
            "stationIdx": "0",
            "arrTimeDiffMin": "",
            "track": "R 3932"
        }
}   



# Import data
df = pd.DataFrame([str(target)], columns=['target'])

# Extract id keys and save value into a separate pandas column
df['id'] = df['target'].apply(lambda row: glom(literal_eval(row), 'locations.name'))

In [192]:
df

                                              target                       id
0  {'number': '', 'date': '01.10.2016', 'name': '...  Spital am Pyhrn Bahnhof